<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row align-items-center>
      <ion-col size="12">
        <ion-card text-center>
          <ion-card-header>
            <ion-card-title>Insira seus dados</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <form [formGroup]="formLogin" (ngSubmit)="enviaForm()">
              <ion-item>
                <ion-label position="floating">Email</ion-label>
                <ion-input type="text" formControlName="email"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="floating">Senha</ion-label>
                <ion-input type="password" formControlName="senha"></ion-input>
              </ion-item>
              <ion-button color="success" shape="round" expand="full" margin-top type="submit">Entrar</ion-button>
            </form>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>