@media screen and (min-width: 768px) {
    img.img_conta_usuario {
        width: 7%;
        margin-bottom: 5px;
        margin-right: 15px;
    } 
}

@media screen and (max-width: 767px) {
    img.img_conta_usuario {
        width: 13%;
        margin-bottom: 5px;
        margin-right: 15px;
    }
}