<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Seus clientes
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row class="ion-text-center" *ngIf="clientes.length === 0">
      <ion-col size="12">
        <ion-text>Cadastre um cliente e ele aparecerá aqui</ion-text>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center" *ngIf="clientes.length !== 0">
      <ion-col class="ion-text-end" size="12" size-md="6">
        <h5>Arraste para <span>
            <ion-icon name="arrow-back"></ion-icon>
          </span> deletar</h5>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" size-md="6">
        <ion-list *ngIf="clientes">
          <ion-item-sliding *ngFor="let cliente of clientes">
            <!-- If remove id from both of these tags, at the same time, sometimes will ocurr an error. -->
            <ion-item id={{cliente.id}} lines="none" (click)="abreModalInfoCliente($event)" >
              <img id={{cliente.id}} class="img_conta_usuario"
                src="/assets/images/user.png" >
              <ion-label id={{cliente.id}}>{{cliente.nome}}</ion-label>
            </ion-item>
            <ion-item-options side="end">
              <ion-item-option color="danger" (click)="deletaCliente($event)" id="{{cliente.id}}">Deletar</ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>