<ion-header>
  <ion-toolbar>
    <ion-title>
      <ion-menu-button></ion-menu-button>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row justify-content-center align-items-center>
      <ion-col size="12" size-md="6">
        <form [formGroup]="formRegistro" (ngSubmit)="enviaForm()">
          <ion-grid>
            <ion-row>
              <ion-col></ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="12">
                <ion-list>
                  <ion-item>
                    <ion-label floating>Seu nome</ion-label>
                    <ion-input type="text" formControlName="nome"></ion-input>
                  </ion-item>
                  <ion-item>
                    <ion-label floating>CPF/CNPJ</ion-label>
                    <ion-input type="text" formControlName="cpfcnpj"></ion-input>
                  </ion-item>
                  <ion-item>
                    <ion-label floating>Email</ion-label>
                    <ion-input type="email" formControlName="email"></ion-input>
                  </ion-item>
                  <ion-item>
                    <ion-label floating>Senha</ion-label>
                    <ion-input type="password" formControlName="password"></ion-input>
                  </ion-item>
                  <ion-item>
                    <ion-label floating>Confirme sua senha</ion-label>
                    <ion-input type="password" formControlName="c_password"></ion-input>
                  </ion-item>
                </ion-list>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-button expand="full" type="submit">Entrar</ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
