<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" (click)="fechaModal()">
      <h1>
        <ion-icon name="arrow-back"></ion-icon>
      </h1>
    </ion-buttons>
    <ion-title>Seus Dados</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="12">
        <form [formGroup]="formEdicaoDados" (ngSubmit)="enviaForm()">
          <ion-list *ngIf="dadosRecebidos" class="ion-margin">
            <ion-item>
              <ion-label>Nome</ion-label>
              <ion-input type="text" formControlName="nome"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>CPF/CNPJ</ion-label>
              <ion-input type="text" formControlName="cpfcnpj"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Telefone</ion-label>
              <ion-input type="text" formControlName="telefone"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Endereço</ion-label>
              <ion-input type="text" formControlName="endereco"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Cidade</ion-label>
              <ion-input type="text" formControlName="cidade"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Estado</ion-label>
              <ion-input type="text" formControlName="estado"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Cep</ion-label>
              <ion-input type="text" formControlName="cep"></ion-input>
            </ion-item>
            <ion-button class="ion-margin" expand="full" type="submit" [disabled]="!formEdicaoDados.valid">
              Atualizar</ion-button>
          </ion-list>
        </form>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="sucesso" [hidden]="erro" class="ion-text-center">
      <ion-col size="12">
        <ion-text color="primary">
          Usuário atualizado com sucesso
        </ion-text>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="erro" [hidden]="sucesso" class="ion-text-center">
      <ion-col size="12">
        <ion-text color="danger">
          Erro ao atualizar o usuario. Tente novamente.
        </ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>